<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-6 welcome">
        <%= render 'pages/welcome' %>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="row sign_in_panel form-group margin-top">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="row form-group actions">
            <div class="col-md-1"></div>
            <div class="col-md-10"><%= f.submit "Send me reset password instructions", class: "btn btn-primary form-control" %></div>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
<% end %>

