<div class="col-xs-7">
  <% @news.slice(0, 10).each do |news| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><%= link_to(news['title'], news['url'], class: 'fontcolor text-bold link_hover') %></h3><br>
          <%= image_tag(news['urlToImage'], class: 'img-responsive') %><br>
          <p class="text-muted"><%= "#{news['author' ]} - #{news['publishedAt'].gsub('T', ' - ').gsub('Z', '')}" if news['author'].present? && news['publishedAt'].present? %></p>
          <p><%= news['description'] %></p>
        </div>
      </div>
  <% end %>
</div>

<div class="col-xs-5">
  <% @news.slice(10, 30).each_with_index do |news, index| %>
      <div class="panel panel-default" style='<%= "margin-top: -18px" if index == 0 %>'>
        <div class="panel-body">
          <h3><%= link_to(news['title'], news['url'], class: 'fontcolor text-bold link_hover') %></h3><br>
          <p class="text-muted"><%= "#{news['author']} - #{news['publishedAt'].gsub('T', ' - ').gsub('Z', '')}" if news['author'].present? && news['publishedAt'].present? %></p>
          <div class="row">
            <span class="col-xs-5"><%= image_tag(news['urlToImage'], class: 'img-responsive') %></span>
            <span class="col-xs-7"><%= news['description'] %></span>
          </div>
        </div>
      </div>
  <% end %>
</div>