<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <%= image_tag("/profile_banner.png",  class: "img-responsive") %>
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag(current_user.avatar_url,  class: "img-circle", style: "margin-left: 10px;margin-top: -20px;height: 70px;width: 70px;") %>
        </div>
        <div class="col-xs-9" style="margin-top: 10px;">
          <center>
          <p class="text-bold">
            <%= link_to(current_user.username, url_for("/user/#{current_user.username}"), class: "fontcolor") %>
          </p>
          </center>
        </div>
      </div>
      <div class="row home-margin">
        <div class="col-xs-3">
          <div class="row">
            <div class="col-xs-4"></div>
            <span class="text-bold text-muted"><%= "Posts" %></span>
          </div>
          <div class="row">
            <div class="col-xs-5"></div>
            <span class="text-bold profile-font"><%= current_user.posts.size %></span>
          </div>
        </div>
        <div class="col-xs-4">
          <center>
          <div class="row">
            <div class="col-xs-4"></div>
            <span class="text-bold text-muted" style="margin-left: 20px;"><%= "Following" %></span>
          </div>
          <div class="row">
            <div class="col-xs-5"></div>
            <span class="text-bold profile-font"><%= current_user.active_relationship.size %></span>
          </div>
          </center>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-xs-1"></div>
            <span class="text-bold text-muted"><%= "Followers" %></span>
          </div>
          <div class="row">
            <div class="col-xs-4"></div>
            <span class="text-bold profile-font">
              <%= current_user.passive_relationship.size %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body ">
        <div class="text-bold text-muted"><%= "Trends" %></div><br>
        <a href="#">#Trend1</a><br>
        <%= "35k posts" %></span><br>
        <a href="#">#Trend2</a><br>
        <%= "25k posts" %></span><br>
        <a href="#">#Trend3</a><br>
        <%= "75k posts" %></span><br>
        <a href="#">#Trend4</a><br>
        <%= "45k posts" %></span><br>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <%= render 'posts/new_post' %>
    <%= render 'pages/posts' %>
    <div class="panel panel-default panel-success post-panel">
      <div class="row footer-panel">
        <span class="col-xs-5"></span>
        <span class="text-bold"><a href="#top"><%= "Back To Top" %> <%= fa_icon("arrow-up") %></a></span>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="links"><%= t('labels.twitter_links_msg') %></span>
      </div>
    </div>
  </div>
</div>
