<div class="row profile-panel-margin">
  <div class="col-xs-3">
    <%= image_tag(@user.avatar_url,  class: "img-circle profile-image") %>
    <div class="row col-md-12 top-margin">
      <center>
        <span class="text-bold" style="font-size: 20px;"><%= @user.username %></span>
      </center>
    </div>
  </div>

  <div class="col-xs-6">
    <%= render 'pages/posts' %>
    <div class="panel panel-default panel-success post-panel">
      <div class="row footer-panel">
        <span class="col-xs-5"></span>
        <span class="text-bold"><a href="#top"><%= "Back To Top" %> <%= fa_icon("arrow-up") %></a></span>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 style="margin-top: -5px;">Who To Follow?</h3>
        <% @users.each do |user| %>
        <div class="row">
          <hr>
        <div class="col-md-4">
          <%= image_tag(user.avatar_url,  class: "img-circle", style: "height: 50px;width: 50px;") %>
        </div>
        <div class="col-md-8">
          <div class="row">
            <%= link_to(user.username, url_for("/user/#{user.username}"), class: "fontcolor text-bold ellipsi") %>
          </div>
          <div class="row">
            <%= form_tag(follow_posts_url) do %>
                <%= hidden_field_tag :followed_id, user.id  %>
                <%= submit_tag "Follow", class: "btn btn_default btn_hover" %>
            <% end %>
          </div>
        </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body ">
        <div class="text-bold text-muted"><%= "Trends" %></div><br>
        <a href="#">#Trend1</a><br>
        <%= "35k posts" %></span><br>
        <a href="#">#Trend2</a><br>
        <%= "25k posts" %></span><br>
        <a href="#">#Trend3</a><br>
        <%= "75k posts" %></span><br>
        <a href="#">#Trend4</a><br>
        <%= "45k posts" %></span><br>
      </div>
    </div>
  </div>
</div>

