<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= t('labels.twitternew') %></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home"><%= t('labels.home') %></a></li>
        <li><a href="/explore"><%= t('labels.explore') %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search TwitterNew">
            </div>
          </form>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag(current_user.avatar_url, class: "img-circle", style: "margin-top:-5px;height: 30px;width: 30px;") %>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/user/<%= current_user.username %>"><%= t('labels.profile') %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><%= t('labels.help') %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to(t('labels.settings'), edit_user_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to(t('labels.logout'), destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
        <li>
          <button type="button" class="btn btn-primary navbar-btn"><%= t('labels.add_tweet') %></button>
        </li>
      </ul>
    </div>
  </div>
</nav>