<!DOCTYPE html>
<html>
  <head>
    <title>Twitter New</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <% if params[:id].present? %>
      <% url = '/user/' + params[:id] %>
      <% if current_page?(url) %>
          <%= image_tag("/profile_banner.png",  class: "profile-banner") %>
          <div class="panel panel-default">
            <div class="container profile-margin">
              <div class="col-xs-3"></div>
              <div class="col-xs-6">
                <div class="col-xs-2">
                  <div class="row"><span class="text-bold text-muted"><%= "Posts" %></span></div>
                  <div class="row"><span class="text-bold profile-font"><%= @user.posts.size %></span></div>
                </div>
                <div class="col-xs-2">
                <div class="row"><span class="text-bold text-muted"><%= "Following" %></span></div>
                <div class="row">
                  <center>
                  <span class="text-bold profile-font"><%= @user.active_relationship.size %></span>
                  </center>
                </div>
                </div>
                <div class="col-xs-2">
                  <div class="row"><span class="text-bold text-muted"><%= "Followers" %></span></div>
                  <div class="row"><center><span class="text-bold profile-font"><%= @user.passive_relationship.size %></span></center></div>
                </div>
              </div>
              <div class="pull-right">
                <% if current_user.id == @user.id %>
                  <button type="button" class="btn btn-primary active"><%= link_to("Edit Profile", edit_user_registration_path, class: "welcome-msg") %></button>
                <% else %>
                    <% if current_user.following?(@user) %>
                        <%= form_tag(un_follow_posts_url) do %>
                            <%= hidden_field_tag :followed_id, @user.id  %>
                            <%= submit_tag "Unfollow", class: "btn btn-danger active" %>
                        <% end %>
                    <% else %>
                    <%= form_tag(follow_posts_url) do %>
                       <%= hidden_field_tag :followed_id, @user.id  %>
                       <%= submit_tag "Follow", class: "btn btn-success active" %>
                    <% end %>
                    <% end %>
              <% end %>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if devise_controller? %>
      <style>
        body {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
          ), url('/body_bg.png');
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
        }
      </style>
    <% end %>
    <div class="container">
     <% unless devise_controller? %>
        <span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
